/* cart.css */
body {
  font-family: 'Minion Pro', Georgia;
  background: #A4907f; /* Light background for a classy look */
  color: white; /* Dark text color */
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

h1 {
  font-family: "Playfair Display", serif;
  color: white; /* Accent color for headings */
}

#site {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#masthead {
  text-align: center;
  margin-bottom: 20px;
}

#content {
  background-color:  #8B5E34;  /* White background for content area */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.shopping-cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.shopping-cart th,
.shopping-cart td {
  padding: 10px;
}

.shopping-cart th {
  background-color: #5A3C1A; /* Header background color */
  color: white;
}

.shopping-cart td {
  border-bottom: 1px solid white;
}

#sub-total {
  text-align: right;
  margin-bottom: 20px;
}

#shopping-cart-actions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#shopping-cart-actions li {
  display: inline-block;
  margin-right: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #5A3C1A; /* Button color */
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: georgia;
}

.btn-remove {
  background-color: #8B5E34; /* Light blue for remove button */
}

#site-info {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 480px) {
  #site {
      padding: 10px;
  }

  #shopping-cart-actions li {
      display: block;
      margin-bottom: 10px;
  }
}
